### Day Objectives
- Practice on Income Dataset
- Define functions for the following data points
        - Average Income of all states from 2005 to 2013
        - State with highest average income in the last three years
        - State with lowest average income from 2007 to 2010(inclusive)
        - Print the list of all states in the same line with average income less than California
        - Print the names of states based on descending order of income in the year 2009
        - State with the lowest recorded income from 2005 to 2013

In [3]:
# Function to read CSV data into a DataFrame
filepath = 'DataFiles/income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [4]:
incomedf = readCSVdata(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [84]:
import numpy as np
def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
            if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
                rowindex = i
    return rowindex

def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex
print(getRowIndex(incomedf,"Alaska"))
print(getColumnIndex(incomedf,"2009"))
d = incomedf.values[1][2:4].mean()
print(d)

1
6
56154.5

In [22]:
# Average Income of all states from 2005 to 2013
# x = incomedf.iloc[:, [2]]
# x
# print(incomedf["2005"].mean())
# print(incomedf["2006"].mean())
# print(incomedf["2007"].mean())
# print(incomedf["2008"].mean())
# print(incomedf["2009"].mean())
# print(incomedf["2010"].mean())
# print(incomedf["2011"].mean())
# print(incomedf["2012"].mean())
# print(incomedf["2013"].mean())
import numpy as np
def averageIncomeofgivenRange(df,lb,ub):
    statesAvgSum = 0
    li = []
    for i in range(len(df.values)):
        s = df.values[int(i)][2:].mean()
        li.append(int(s))
        statesAvgSum +=s
        average = statesAvgSum/len(df.values)
    print(average)
    return li

#     sum = 0
#     count = 0
#     for i in range(lb,ub+1):
#         sum+=incomedf[str(i)].mean()
#         count+=1
#     print(count)
#     print(sum)
#     average = sum/count
#     return average
averageIncomeofgivenRange(incomedf,"2005","2013")


    
# sum(range(incomedf["2005"].mean(),incomedf["2013"].mean()))

48525.42222222222

[41126, 60106, 47214, 38828, 55350]

In [121]:
incomedf.values[1][8:11].mean()

60738.666666666664

In [120]:
#State with highest average income in the last three years
def highestAverageincomelastThreeYears(df,lb,ub):
    li = []
    for i in range(len(df.values)):
        s = df.values[int(i)][8:].mean()
        li.append(int(s))
#     allStatesAvglist = averageIncomeofgivenRange(df,lb,ub)
    maxAvg = max(li)
    print(maxAvg)
    for i in range(len(df.values)):
        if int(df.values[i][8:11].mean()) == maxAvg:
            print("In the last three years highest average income state is : ",df.values[i][1])
            
highestAverageincomelastThreeYears(incomedf,"2011","2014")
# incomedf.values[2][1]

60738
In the last three years highest average income state is :  Alaska

In [70]:
int(incomedf.values[3][2:11].mean())

38828

In [116]:
#State with lowest average income from 2007 to 2010(inclusive)
def lowestAverageincomein2007to2010(df,lb,ub):
    allstatesAverage = averageIncomeofgivenRange(df,lb,ub)
    minavg = min(allstatesAverage)
    print(minavg)
    #print(df.values[2][1])
    for i in range(len(df.values)):
        if int(df.values[i][2:11].mean()) == minavg:
            print("In the year from 2007 to 2010 lowest average state is : ",df.values[i][1])
    #print(allstatesAverage)
lowestAverageincomein2007to2010(incomedf,"2007","2011")

48525.42222222222
60106
In the year from 2007 to 2010 lowest average state is :  Arkansas

In [125]:
#Print the list of all states in the same line with average income less than California
def listofAllStateswithaverageincomelessthanCalifornia(df,lb,ub):
    allstatesaveragelist = averageIncomeofgivenRange(df,lb,ub)
    for i in range(len(df.values)):
        if int(df.values[i][2:11].mean()) < allstatesaveragelist[4]:
            print(df.values[i][1])
listofAllStateswithaverageincomelessthanCalifornia(incomedf,"2005","2013")

48525.42222222222
Alabama
Arizona
Arkansas

In [184]:
#Print the names of states based on descending order of income in the year 2009
def decendingOrderofincomeintheYear2009(df):
    li = []
    for i in range(len(df.values)):
        li.append(df.values[i][6])
        #stateslist.append(df.values[i][1])
    li = sorted(li, reverse = True)
    print(li)
    stateslist = []
    for j in range(len(df.values)):
        for m in range(len(df.values)):
            if li[j] == df.values[m][6]:
                stateslist.append((df.values[m][1]))
    for n in stateslist:
        print(n,end = " ")
    
decendingOrderofincomeintheYear2009(incomedf)

[61604, 56134, 45739, 39980, 36538]
Alaska California Arizona Alabama Arkansas

In [206]:
#State with the lowest recorded income from 2005 to 2013
import numpy as np
def lowestincomeRecordState(df,lb,ub):
    incomeslist = []
    for i in range(len(df.values)):
        incomeslist.append(df.values[i][2:])
    print(np.amin(incomeslist))
lowestincomeRecordState(incomedf,"2005","2013")

36538

In [80]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528