### Mark Down Basics

* **Bold**  
* *Italic*   
* ***IB***
* Normal Text
 * Sublist1
 * Sublist2
 
 
1.Ordered "\t" List 1<br>
2.Ordered List 2

- [ ] Option 1
- [ ] Option 2
- [x] Option 3


<mastanvali.p@apssdc.in>


'printf("Hello Mastan")'

I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"







> Mastan Vali
> Vali MAstan

<img src="a.jpg" style="float:left"><br>


[My Image](a.jpg)

### Python Basics

Python Version 3.7

- Scripting
- Object Orinted
- Functional

In [7]:
# Pyhton Comments

print("Good Afternoon !","Mastan Vali", end="||") # Basic Output

print("Hello Python")

Good Afternoon ! Mastan Vali||Hello Python

### Assignment

In [15]:
n1 = 123456 # Single Varble assignment
n2 = n3 = n4 = n1  # Multiline varible Assignment
a,b,c = 123, 234, 345

print(a,b,c)

123 234 345

### Data Types
- int
- float
- string
- double

In [ ]:
s1 = "Python"
type(s1)

f1 = 12.345
type(f1)

int(f1)

### Arithematic Operations

- +
- -
- **
- *
- /
- %

In [ ]:
n1 % 11 #11 is not a factor of n1 

n3 = n2 ** 1234

type(n3)
len(str(n3))

In [ ]:
atoms=10 ** 82

### Conditionals

In [3]:
v=10
if v > 25:
    print("True")
else:
    print("Fasle")

Fasle

In [4]:
n=123
if n % 2==0:
    print("Even")
else:
    print("Odd")

Odd

In [6]:
# Find the Greatest of 3 numbers
n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))
if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

Enter the first number-1
Enter the second number-50
Enter the third number-2
-1 is the greatest

In [28]:
# check if an year is leap year
year = int(input("Enter year"))
if (year%400 == 0 or (year%100 != 0 and year%4==0)):
    print("Leap year")
else:
     print(" not Leap Year")

Enter year2005
 not Leap Year

In [12]:
# Check if a number exists in a given range
n1=int(input("Enter a number"))
lb=int(input("Enter a lower Bound number "))
ub=int(input("Enter a upper Bound number "))
if n1 in :
    print("Exist")
else:
    print("Not Exists")

Enter a number10
Enter a lower Bound number 20
Enter a upper Bound number 15
Not Exists

In [29]:
# Calculate the number of digits in a number
n1=input("Enter a number")
len(str(n1))

Enter a number2019

4

In [19]:
# Check if a number is a multiple of 10
n1=int(input("Enter a number"))
if n1%10 == 0:
    print("the given number is devisible by 10")
else:
    print("Not Divisible by 10")

Enter a number3
Not Divisible by 10

In [21]:
# check if a number is a factor of 1000
n1=int(input("Enter a number"))
if 1000%n1 == 0:
    print("yes")
else:
    print("No")

Enter a number20
yes

In [30]:
# check if given string is equal to a number
a=input("Enter a number")
b=input("Enter a number")
if a == b:
    print("True")
else:
    print("False")

Enter a number20
Enter a number29
False

In [31]:
# Caculate the square root of a number without function

n1=int(input("Enter a number"))
res = n1**0.5
print(res)

Enter a number20
4.47213595499958

In [33]:
# Caculate the number of nano seconds in a given year (consider the leap year logic)
year = 2019
if (year%400 == 0 or (year%100 != 0 and year%4==0)):
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(366 * 24 * 60 * 60 * (10**9))

31622400000000000