In [9]:
# Function to print all combinations of pairs integers in a unique list 
#[1,2,3] - > (1,2),(1,3),(2,3) - > 3C2(3!//(3-2)!*2!)=3
#[1,2,3,4]  -> 1,2 1,3 1,4 2,3 2,4 3,4
def combinations(li):
    for i in range(0,len(li)):
        for j in range(i+1,len(li)):
            print(li[i] ,li[j])
    
combinations([1,2,3,3])

1 2
1 3
1 3
2 3
2 3
3 3

In [15]:
#4c3 = 4!/(4-3)!*3! ==>24/6
def combinations3(li):
    for i in range(0,len(li)-2):
        for j in range(i+1,len(li)-1):
            for n in range(j+1,len(li)):
                print(li[i] ,li[j],li[n])
    
combinations3([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [16]:
#[1,2,3] -> []
def medium(li):
    while(True):
        li3 = differenceOfPairs(li)
        if len(li2) == 0:
            break
    return li

# Identify differences of all pairs of numbers in the list and 
# Add those differences to the same list
# It Returns the original updated list
# [4,8] -> Constant List
# [4,8,12] -> Constant List
# [3,6,9,12] -> Constant List

# For a list to be constant -> The elements must be of equivalent 
# difference 

# To get a constant list from any given list we are supposed to 
# convert the existing list to an arithmetic progression

# [3,8] -> [3,8,5,2,1,4,7,9,10,11,12,13,14,15]
def differenceOfPairs(li):
    cli = li
    newelements = []
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d=abs(li[i]-li[j])
            if d not in cli:
                newelements.append(d)
    li.extend(newelements)
    return newelements
differenceOfPairs([1,9,8,7,6,2,5,3,4])

[]

In [58]:
def differenceOfPairs(li):
    c = 0
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                differenceOfPairs(li)
                c=c+1
                
    return li  
def kthLargestofDeiffrencePairs(li,k):
    li2 = differenceOfPairs(li)
    print(li2)
    li2 = sorted(li2,reverse = True)
    highest = li2[k-1]
    print(highest)
kthLargestofDeiffrencePairs([1,2,3],1)

[1, 2, 3]
3

In [62]:
def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
    cli = li.copy()
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]
li = [3,6,9,12]
differencePairs(li)
#medium(li,2)

[[3, 6, 9, 12], [3, 6, 9, 12]]

###  Set -Data Structure in python

Rpresented by '{}'

In [73]:
# It doesn't allows the duplicate elements 
# It is mutable
#a.add(7)
# It is don't have a indexing
a = {1,2,3,4,5,6,6}
a.add(7)# Adding a single element to a set
# for i in a:
#     print(i,end = " ")----->Accessing elements
# There is no rder for set
b = {7,8,9}
li = [11,12,13,1,-1]
a.update(li)# If you want to add the more elements(with one more set) to the set then we can use 'update' method
a

{-1, 1, 2, 3, 4, 5, 6, 7, 11, 12, 13}

In [76]:
a.discard(13)
a.remove(7)#Don't use this method
a

{-1, 1, 2, 3, 4, 5, 6, 11, 12}

In [79]:
a = {10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
a.union(b)
#A U B = B U A
b.union(a)
a.intersection(b)

{1, 2, 3}

In [80]:
a.isdisjoint(b)

False

In [90]:
a = {1,2,3,4}
b ={1,2,3,5,6,7}
a.isdisjoint(b)
a-b
b-a

{5, 6, 7}

In [88]:
a - b # All elements of a which are not in b

{4}

In [92]:
a = {10,3,4,2,5,6,7,8,9}
sorted(a)# Sorted method can convert from set to list

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
a = {1,2,3,4}
b ={1,2,3,5,6,7}
a^b #UnCommon elements from both sets

{4, 5, 6, 7}

In [97]:
d = set()# Creates an empty set dynamically
d

set()

In [99]:
li = [1,2,3,3,4,5,6,7,8,9]
u = set(li)#-->It is a costly operation better to use for loop
u

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
Procedural : c
    
Object Oriented : Java,Python
    
Scripting : PHP,Python,JavaScript,shell,perl

Functional : Python,Haskell ,Scala
    
Logic : Prolog , Lisp

### List Comprehensions

In [101]:
#N natural Numbers in a list
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
# Apply list comprehension to store the cubes of n natural numbers
li = [i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [110]:
# To print the all even numbers in between given range
li = [i for i in range(1,11) if i%2==0]
li

[1, 3, 5, 7, 9]

In [ ]:
# Prime Numbers
li = []

In [113]:
# Function to calculate the m factorial
def factorial(n):
    fct = 1
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)
# Apply list comprehension to calculate factorial of n natural numbers
n = 10
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [120]:
# Store cumulative sum of numbers till n in a list
# n = 3,[1,3,6]
def cumulativeSum(n):
    sum = 0
    for i in range(0,n+1):
        sum=sum+i
    return sum
        
cumulativeSum(5)

15

In [121]:
cumulativeSum(3)

6

In [123]:
n=5
li = [cumulativeSum(i) for i in range(1,n+1)]
li

[1, 3, 6, 10, 15]

In [133]:
n = 6
li = [sum(range(i+1)) for i in range(1,n+1)]
li

[1, 3, 6, 10, 15, 21]

In [128]:
print(sum(range(1,10,1)))

45

In [137]:
# list Comprehension to store only leap years in a given time period
li = [i for i in range(1970,2019) 
      if i%4 == 0 or 
      (i%100!=0 and
       i%400 == 0)]
li

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [154]:
li = [1,2,3,2,1]
u2 = []
[u2.append(i) for i in li if i not in u2]
u2

[1, 2, 3]

### Iterators
Iterable - Strings,Lists,Tuples,Sets,Dictionaries
convert Interable to Iterator -> iter()
For Loop:It cannot be stopped unti the condition is satisfied

Iterator : It can stop at during excution

In [162]:
it = iter("python")
next(it)

'p'

### Generators

Generator is a Function(User Defined) 
we can start generating code
It remembers where we stopped and where we has to start

In [1]:
def generator():
    n = 2
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n
a = generator()
next(a)
next(a)

8