In [ ]:

NumPy Library

Pandas - Data Analysis
Series Object - One dimensional data
DataFrame Object - Two -Dimensional data
Reading Data from CSV Files into DataFrames
Processing DataFrames
Columns
Rows
Updating DataFrames
Writing DataFrame back to CSV Files

In [3]:
# Function to read CSV data into a DataFrame
filepath = 'DataFiles/income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [4]:
incomedf = readCSVdata(filepath)
# Function to print all column names in a single line
#GEOID state 2005 2006 2007 2008 2009 2010 2011 2012 2013 
def printDataFrameColumns(df):
    columns = df.columns
    for column in columns:
        print(column,end=" ")
    return
printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [33]:
# Function to access a row based on a unique column value
def accessDataFrameRow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=" ")
            print('\n')
    return
accessDataFrameRow(incomedf,"Alaska")#We can give any unique key

04000US02 Alaska 55891 56418 62993 63989 45739 57848 57431 63648 61137

In [21]:
# Accessing unique value based on row , column info
# Income of a state in a given year

def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
            if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
                rowindex = i
    return rowindex

def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex
    
    
def valueFromRowandColumn(df,rowkey,columnkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return df.values[rowindex][columnindex]    
    return df.values[rowkey][columnkey]
valueFromRowandColumn(incomedf,'Alaska',"2009")

61604

In [38]:
# Function to update data based on row and column key
def upDateDataFromCellColumn(df,rowkey,columnkey,newdata):
    rowIndex = getRowIndex(df,rowkey)
    columnIndex = getColumnIndex(df,columnkey)
    row = df.values[rowIndex]
    row[columnIndex] = newdata
    df.loc[rowIndex] = row
    return 
upDateDataFromCellColumn(incomedf,"Alaska","2009",45739)

In [5]:
incomedf.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 47215, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528]], dtype=object)

In [39]:
accessDataFrameRow(incomedf,45739)

04000US02 Alaska 55891 56418 62993 63989 45739 57848 57431 63648 61137

04000US04 Arizona 45245 46657 47215 46914 45739 46896 48621 47044 50602

In [40]:
# Function to write DataFrame to csv
incomedf.to_csv(filepath,index=False)

In [43]:
# Function to add a new row of data to DataFrame
def addRowDataDataFrame(df,rowdata):
    lastrowindex = len(df.values-1)
    df.loc[lastrowindex+1] = rowdata
    return
rowdata = ['1','2',3,4,5,6,7,8,9,10,11]
addRowDataDataFrame(incomedf,rowdata)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [44]:
incomedf.drop(4)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,45739,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919

In [47]:
incomedf=incomedf.drop(4)

In [48]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,45739,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919